body {
    font-family: 'Noto Sans Bengali', sans-serif;
}

h2, h3, h4 {
    text-shadow: 1px 1px #00000033;
}

.card {
    border-radius: 15px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-radius: 15px;
}

.btn {
    font-size: 1.1rem;
    transition: transform 0.2s;
}

.btn:hover {
    transform: scale(1.05);
}